/*Variables de la paleta de color*/
:root {
    --principal-Color: #3d7cb2;
    --secondary-Color: #fbd46c;
    --principal-font: 'Mukta';
    --secondary-font: 'Bebas Neue';
    --third-font: 'Caveat';
}


@media (max-width:1256px) {
    #columna2-header{
        width: 54%;
    }
    .list-item.options .parrafo.lista{
        font-size: 0.95em;
    }
}
@media (max-width:1232px) {
    .list-item.options .parrafo.lista{
        font-size: 12px;
    }
    .list.hiden-class{
        margin-left: 10px;
    }

}
@media (max-width:1053px) {
    .blur{
        filter: blur(10px);
    }
    #columna1-header{
        width: 50%;
    }
    /*Columna de opciones emergentes en versiones mobiles*/
    #columna2-header{ 
        display: none;
        background-color: var(--principal-Color);
        position: absolute;
        right: 0px;
        top: 74px;
        height: 260px;
        width: 0px;
        padding: 0;
    }
    #columna2-header.active{
        width: 54%;
        display: block;
    }
    /*Estoy aqui*/
    #columna2-header .list{
        margin: 0;
        width: 100%;
    }
    
    #columna2-header .list-item{
        display: block;
        margin-right: 0;
        font-size: large;
        margin-top: 12px;
        margin-bottom: 14px;
        border-bottom: 2px solid lightgray;
    }
    #columna2-header .list-item:last-child{
        border-bottom: none;
    }
    .hiden-box{
        width: 0;
        height: 140px;
        left: -150px;
        top:-18px;
        transition: none;
    }
    .hiden-box.active{
        background-color: var(--secondary-Color);
        position: absolute;
        top:-18px;
        width: 150px;
        left: -150px;
        transition: none;
    }
    .list.hiden-class{
        margin-top:15px !important;
    }
    .list-item.options{
        position: relative;
    }
    .list-item.options .parrafo.lista{
        font-size: 0.95em;
    }
    .list-item.optionsTwo:nth-child(1){
        display: none;
    }
    .list-item.optionsTwo:nth-child(3){
        display: none;
    }
    #login-options{
        margin-left:50%;
    }
    #cuadrito{
        display: inline-block;
    }
}
@media (max-width:380px) {
    #sub-head{
        padding: 0;
    }
    #sub-head .row .col:first-child{
        display: none;
    }
    #sub-head .row .col:last-child{
        display: none;
    }
}