/*Variables de la paleta de color*/
:root {
    --principal-Color: #3d7cb2;
    --secondary-Color: #fbd46c;
    --principal-font: 'Mukta';
    --secondary-font: 'Bebas Neue';
    --third-font: 'Caveat';
}

* {
    box-sizing: border-box;
    margin: 0;
}

/*Clases*/
.parrafo {
    color: white;
    font-family: 'Mukta';
    font-size: small;
}

.parrafo.lista {
    text-transform: uppercase;
    font-family: 'Mukta';
    font-weight: bold;
    font-size: 15px;
}

.enlaces {
    text-decoration: none;
}

/*Cajas ocultas dentro del menú*/
.hiden-box {
    background-color: var(--principal-Color);
    position: absolute;
    width: 150px;
    height: 0;
    border-radius: 4%;
    transition: 0.5s;
    overflow: hidden;
}

.hiden-box.active {
    height: 140px;
    transition: 0.5s;
    z-index: 2;
}

.list.hiden-class {
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    list-style: none;

}

/*Clase de boton*/
.button {
    z-index: 5;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
    min-width: 110px;
    max-width: 130px;
    height: 50px;
    border: 1px solid black;
    box-shadow: 3px 2px 0px 0px rgba(0, 0, 0, 0.167);
    font-family: var(--secondary-font);
    font-size: 18px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.423);
}

.button:active {
    background-color: var(--secondary-Color);
}

.cajas {
    max-width: 100%;
    background-color: white;
    min-height: 500px;
}

.icono {
    width: 32%;
    transform: rotate(15deg);
    position: absolute;
    top: 10%;
    left: 10px;
}

/* ventana */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: auto;
    height: auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.445);
}

.popup-content {
    position: relative;
}

.popup-content .logo {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}

.popup-content h2 {
    margin-bottom: 20px;
    /* Añade espacio entre el título y el formulario */
}

.popup-content form {
    margin-bottom: 20px;
    /* Añade espacio entre el formulario y el footer */
}

.popup-content footer {
    color: #666666;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #666666;
}

.popup-content .close:hover {
    color: #333333;
}

.form {
    margin: 0 0 44px;
    display: grid;
    gap: 12px;
}

.form:is(input, button) {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    font-size: 16px;
    font-family: inherit;
}

.form>input {
    border: 0;
    padding: 0 24px;
    color: #222222;
    background: #ededed;
}

.form>button {
    border: 0;
    color: #3d7cb2;
    background: rgba(0, 0, 0, 0.137);
    display: grid;
    place-items: center;
    font-weight: 500;
    cursor: pointer;

}



/*Cabezal principal*/
#head {
    width: 100%;
    /*No se debe mover*/
    height: 120px;
    margin-bottom: 0;
}

/*Contenido de contacto*/
#sub-head {
    height: 65px;
    background-color: black;
}

#head-list {
    display: inline-block;
    width: auto;
    margin-left: 10%;
}



#titulo-subhead {
    text-align: center;
    display: inline-block;
    width: 30%;
    position: absolute;
    left: 50%;
    right: 40%;
    top: 5px;
    user-select: none;
    transform: translate(-50%, 0);
}

/*Lista de elementos dentro del contenido de contacto (1)*/
.list {
    display: inline-block;
    margin-top: 10px;
    padding: 0;
}

.list-item {
    display: inline-block;
    margin-right: 5px;
    color: #ffffff;
}

.list-item.options {
    margin-right: 40px;
    cursor: pointer;
}

.list-item.options:hover {
    text-decoration: underline 2px;
}

.list-item.optionsTwo {
    margin-right: 30px;
    cursor: pointer;
}

/*Eventos de hover*/

/*Segundo cabezal*/
#second-sub-head {
    background-color: var(--principal-Color);
    position: relative;
    width: 100%;
    height: 75px;
    z-index: 2;
}

#logo-box {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10%;
}

#options-box {
    display: inline-block;
    margin-left: 10%;
    margin-right: 0;
}

#login-options {
    display: inline-block;
}

/*botton flotante*/
.btn-flotante {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: all 300ms ease 0ms;
    background-image: url("Imagenes-iconos/whatsapp.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.btn-flotante:hover {
    background-color: rgb(0, 173, 9);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.329);
    transform: translateY(7px);
}


/*Main cuerpo*/
#cuerpo {
    display: block;
    background-color: white;
    width: 100%;
    height: 100vh;
}

#upper-body {
    display: block;
    width: 100%;
    height: 90%;
    background-color: lightblue;
    overflow: hidden;
}

#eslogan {
    color: white;
    min-width: 230px;
    font-size: 30px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#button-holder {
    z-index: 1;
    position: absolute;
    min-width: 330px;
    min-height: 60px;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    top: 88%;
}

.botonDemo {
    width: 8em;
    height: 3em;
    text-transform: uppercase;
    font-family: var(--secondary-Color);
    font-size: 100%;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 0;
    border-width: 2px;
    font-weight: bold;
    position: relative;
    z-index: 5 !important;
}

.botonDemo:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

.botonDemo:active {
    background-color: var(--secondary-Color);
}

#contenedorAzul {
    background-color: var(--principal-Color);
}

#login-options {
    margin-left: 20px !important;
}

.list-item.optionsTwo:nth-child(2) {
    margin-right: 10px;
}

#cuadrito {
    display: none;
    width: 34px;
    height: 16px;

}

.linea {
    display: block;
    width: 30px;
    height: 4.5px;
    margin-bottom: 2px;
    border-radius: 3px;
    margin-top: 2.75px;
    background-color: white;
}

#cuadrito:hover .linea {
    background-color: pink;
    cursor: pointer;
}

#cuadrito:active .linea {
    background-color: yellow;
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 50px;
    }
}