:root {
    --principalColor: rgb(24, 39, 46);
}

body {
    background-color: var(--principalColor);
}

#cabezal .par {
    font-weight: bold;
    font-family: 'Inter';
    font-size: 20px;
    color: white;
}

h1 {
    font-weight: bold;
    font-family: 'Inter';
    color: white;
    font-size: 3em;
}

.boton {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.linea {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px;
    margin-left: 2px;
    border-radius: 200px;
}

.par {
    color: white;
    font-family: 'Inter';
    font-size: 28px;
    font-weight: bold;
}

.pList {
    color: white;
    font-size: 18px;
    font-size: 'Inter';
}

.list {
    list-style: none;
}

.list-item {
    text-decoration: none;
    margin-bottom: 30px;
}

#lateral {
    width: 60%;
    background-color: red;
    height: 75%;
    border-radius: 3% 3%;
    background-color: var(--principalColor);
    box-shadow: 5px 4px 20px 15px rgba(0, 0, 0, 0.252);
    display: none;
}

#lateral.activo {
    display: block;
}

@media (min-width:1200px) {
    #logoImg {
        width: 30% !important;
    }

    h1 {
        font-size: 6em;
        color: #ffffff;
        text-align: center;
        z-index: 1;
        -webkit-margin-before: 0;
        margin-block-start: 0;
        font-family: SF Pro Display, Helvetica Neue, sans-serif;
        font-size: 90px;
        font-weight: 600;
        letter-spacing: -2.8px;
        line-height: 167px;
    }

    #lateral {
        width: 30% !important;
    }
}

h1 {
    transition: transform 0.3s;
}

h1:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.description {
    color: #ffffff;
    font-family: SF Pro Display, Helvetica Neue, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    -webkit-margin-before: 40px;
    margin-block-start: 40px;
    -webkit-margin-after: 20px;
    margin-block-end: 20px;
    max-inline-size: 100%;
}

a {
    text-decoration: none;
}

.separacion {
    flex: auto;
    container: fluid;
    padding: 2%;
}

#header-info {
    padding: 2%;

}

.formato {
    font-family: SF Pro Display, Helvetica Neue, sans-serif;
}

#card {
    max-height: 50vh;
    /* Ajusta este valor a la altura que prefieras */
    overflow-y: auto;
    /* Permite el desplazamiento vertical */
}

.steal {
    background: rgb(20, 31, 36);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
    color: #ffffff;
}


#magico {
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px, 32px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;

}

#magico::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,
            red, blue, deeppink, blue,
            red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;

}

@keyframes glowing {
    0% {
        background-position: 0 0;

    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
